# backend

Backend/.env
Backend/venv
Backend/first-firebase-7e1ee-firebase-adminsdk-qbinv-48afa71695.json

#frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
Frontend/.pnp
.pnp.js

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/ .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
